@use "../../scss/" as *;

.hero {
	max-width: $webWidth;
	padding: 0 0 0 20px;
	margin: 0 auto;
	overflow: hidden;
	display: grid;
	grid: repeat(2, auto auto) / repeat(2, 1fr);
	gap: 20px;

	@include tablet {
		grid: repeat(2, auto auto) / repeat(2, 1fr);
		gap: 10px;
	}
	@include mobile {
		padding: 0 20px;
		grid: repeat(1, auto) / repeat(1, 1fr);
	}

	.textHero {
		max-width: 460px;
		margin-bottom: 20px;
		display: relative;
		height: 700px;

		@include tablet {
			max-width: 360px;
			height: 600px;
		}

		@include mobile {
			max-width: 100%;
			height: auto;
		}

		.title {
			font-size: $H1Size;
			margin: 100px 0 40px;
			letter-spacing: 3px;

			@include tablet {
				font-size: calc($H1Size - 20%);
				margin: 80px 0 30px;
			}

			@include mobile {
				font-size: calc($H1Size - 40%);
				margin: 30px 0 30px;
			}
		}

		.subTitle {
			font-size: $bodySize;
			font-weight: $regularWeight;
			margin-bottom: 50px;
			letter-spacing: 2px;

			@include tablet {
				font-size: calc($bodySize - 4%);
			}

			@include mobile {
				font-size: calc($bodySize - 20%);
			}
		}

		.displayText {
			position: absolute;
			font-size: 160px;
			font-weight: $boldWeight;
			opacity: 0.4;
			margin-top: 120px;

			@include tablet {
				margin-top: 100px;
				font-size: 16vw;
			}

			@include mobile {
				margin-top: 20px;
				font-size: 0px;
			}
		}
	}
	.wrapperBanner {
		width: 100%;
		position: relative;
		grid-area: 1 / 2 / span 2 / span 1;

		@include mobile {
			display: none;
		}
		.banner {
			position: absolute;
			right: 0;
			border-bottom-left-radius: 200px;
			max-width: 100%;
			height: 720px;
			object-fit: cover;
			z-index: 1;

			@include tablet {
				width: 340px;
				height: 660px;
			}
		}
	}

	.displayWrapper {
		position: relative;
	}
}

// *:not(.hero) {
// background-color: red;
// }
