@use "../../scss/" as *;
.card {
	object-fit: cover;
	position: relative;
	border-radius: 10px;
	color: $txtColor;

	.cardImg {
		height: 100%;
		object-fit: cover;
		border-radius: 20px;
		filter: brightness(0.7);
	}

	.wrapperCard {
		position: absolute;
		padding: 20px;
		top: 0;
		@include tablet {
			padding: 15px;
		}
		@include mobile {
			padding: 10px;
		}

		.cardRating {
			@include mobile {
				padding: 4px;
			}
			font-size: $smallSize;
			width: fit-content;
			padding: 6px;
			border-radius: 100%;
			margin-bottom: 60px;

			&.green {
				border: 2px solid $acntGreenColor;
			}

			&.red {
				border: 2px solid $acntRedColor;
			}

			&.yellow {
				border: 2px solid $acntYellowColor;
			}
		}

		h1 {
			@include tablet {
			}
			@include mobile {
				max-width: 250px;
				font-size: $bodySize;
			}
			max-width: 280px;
			font-size: $h2Size;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		h2 {
			@include mobile {
				font-size: $smallSize;
			}
			font-size: $bodySize;
			font-weight: $regularWeight;
		}
	}
}
