@use "../../scss/" as *;

.featured {
	background-image: url(../../assets/imgs/img-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 80px 20px;
	@include mobile {
		padding: 40px 20px;
	}

	// display: flex;
	// flex-direction: column;
	// gap: 40px;

	.featuredMovie,
	.featuredTv {
		max-width: $webWidth;
		margin: 0 auto;

		.titleFeatured {
			font-size: $h2Size;
			font-weight: $boldWeight;
			margin-bottom: 20px;
			@include tablet {
				font-size: $bodySize;
			}

			span {
				font-weight: $thinWeight;
			}
		}
	}

	.featuredMovie {
		margin-bottom: 60px;
	}
}
