@use "../../scss/" as *;

.featured {
	background-image: url(../../assets/imgs/img-bg.png);
	padding: 80px 20px;

	// display: flex;
	// flex-direction: column;
	// gap: 40px;

	@include tablet {
	}
	@include mobile {
	}

	.featuredMovie,
	.featuredTv {
		max-width: $webWidth;
		margin: 0 auto;

		.titleFeatured {
			font-size: $h2Size;
			font-weight: $boldWeight;
			margin-bottom: 20px;

			span {
				font-weight: $thinWeight;
			}
		}
	}

	.featuredMovie {
		margin-bottom: 60px;
	}
}
