@use "../../scss/" as *;

.navbar {
	font-weight: $lightWeight;

	.navigation {
		@include flex(center, space-between);
		.logo {
			width: 80px;
			@include tablet {
				width: 60px;
			}
		}

		.searchIcon {
			stroke: $txtColor;
			stroke-width: 12;
			width: $navSize;

			@include mobile {
				stroke-width: 8;
			}
		}
	}
}
