@use "../../scss/" as *;

.contentList {
	max-width: $webWidth;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	@include tablet {
		grid-template-columns: repeat(3, 1fr);
	}
	@include mobile {
		grid-template-columns: repeat(2, 1fr);
	}

	.img-list {
		width: 100%;
		object-fit: cover;
		border-radius: 20px;
		filter: brightness(0.7);
	}
}
