// Color
$bodyBgColor: #1a1a1a;
$btnMainColor: #ee4111;
$txtColor: #fcfcfc;

$acntYellowColor: #f4e80b;
$acntGreenColor: #25da70;
$acntRedColor: #ee4111;

// font
$fontSerif: "Roboto Slab", serif;
$fontSansSerif: "Roboto", sans-serif;

$boldWeight: 700;
$regularWeight: 400;
$lightWeight: 300;
$thinWeight: 100;

$titleSize: 46px;
$titleSekunderSize: 29px;
$paragrafSize: 23px;
$btnSize: 15px;
$ratingSize: 15px;

//shadow

//radius
$bigRadius: 20px;
$mediumRadius: 15px;
$smallRadius: 10px;

//width
$webWidth: 1400px;
$mobileWidth: 600px;
$tabletWidth: 1024px;
$gap-button: 5px;
$gap-20: 20px;
$storkeIcon: 6;
