// Color
$bodyBgColor: #1a1a1a;
$btnMainColor: #ee4111;
$txtColor: #fcfcfc;

$acntYellowColor: #f4e80b;
$acntGreenColor: #25da70;
$acntRedColor: #ee4111;

// font
$fontSerif: "Roboto Slab", serif;
$fontSansSerif: "Roboto", sans-serif;
$titleSize: 46px;
$paragrafSize: 29px;
$titleSekunderSize: 29px;
$smallTextSize: 23px;
$btnSize: 23px;
$ratingSize: 15px;

//shadow

//radius
$bigRadius: 20px;
$mediumRadius: 15px;
$smallRadius: 10px;

//width
$mobileWidth: 600px;
$tabletWidth: 1024px;
