// Color
$bodyBgColor: #1a1a1a;
$btnMainColor: #ee4111;
$txtColor: #fcfcfc;

$acntYellowColor: #f4e80b;
$acntGreenColor: #25da70;
$acntRedColor: #ee4111;

// font
$fontSerif: "Roboto Slab", serif;
$fontSansSerif: "Roboto", sans-serif;

$boldWeight: 700;
$regularWeight: 400;
$lightWeight: 300;
$thinWeight: 100;

$H1Size: 32px; //web: 32px - 48px || mbl: 24px - 32px
$h2Size: 24px; //web: 24px - 32px || mbl: 20px - 24px
$bodySize: 18px; //web: 18px - 20px || mbl: 16px - 18px
$smallSize: 14px; //web: 14px - 16px || mbl: 12px - 14px
$linkSize: 16px; //web: 16px - 18px || mbl: 14px - 16px
$navSize: 18px; //web: 18px - 20px || mbl: 16px - 18px
// $titleSize: 32px;
// $titleSekunderSize: 25px;
// $paragrafSize: 18px;
// $btnSize: 15px;
// $ratingSize: 15px;

//shadow

//radius
$bigRadius: 20px;
$mediumRadius: 15px;
$smallRadius: 10px;

//width
$webWidth: 1024px;
$mobileWidth: 425px;
$tabletWidth: 820px;
$gap-button: 6px;
$gap-20: 20px;
$storkeIcon: 6;
